<style>
 .footermenu {
            background-color: white;
            width: 100%;
            bottom: 0;
            left-margin:10px;
            right-margin:10px;
            height : 200px;
            position: relative;

        }
       
        .footermenu ul {
            list-style-type: none;
           
            padding: 0 20px;
        }
        .footermenu li {
            list-style-type: none;
        }
 .footermenu ul li a {
            text-decoration: none;
            color: grey;
            font-size : 10px;
            }
       
        .footerheader {
          color: black;
          font-size: 12px;
          font-weight: 700;
          padding: 0 0 4px;
          display: table;
        }
</style>

    <div class="footermenu">

<hr></hr>
    <table align="center">
    <tr><td>
    <ul>
        <li class="footerheader"><label >About vRddhi</label></li>
        <li><a href="#overview">Overview</a></li>
        <li><a href="#history">History</a></li>
        <li><a href="#development">Development</a></li>
    <ul></td>
    <td>
    <ul>
        <li class="footerheader"><label>Invest</label></li>
        <li><a href="#overview">Browse Loans</a></li>
        <li><a href="#history">Performance</a></li>
        <li><a href="#history">Faqs</a></li>
    <ul>
    </td>
    <td>
    <ul>
        <li class="footerheader"><label>General</label></li>
        <li><a href="#overview">Developers</a></li>
        <li><a href="#history">Site Map</a></li>
        <li><a href="#development">Help</a></li>
    <ul>
</td>
    <td>
       <ul>
        <li class="footerheader"> <label>Join Our Community</label></li>
	</ul>
    </td>
    </tr>
    </table>
    </div>
